/*font-family: 'PT Sans', sans-serif;*/
#container {
    background-color: beige;
    color:black;
    padding: 20px;
}

.center{
    margin-left: 15%;
}

.inline{
  display: inline;
}


.mainBackground {
    background-color:dimgray;
    font-family: 'PT Sans', sans-serif;
    font-size:16px;
}

.centerFeaturedImage{
    margin-left:20%;
}

.region-content .views-row{
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
